---
import logo from "../assets/img/logo_rte_montacargas.png";
import NavMenu from "./NavMenu.astro";
---

<section class="container-header" id="contact">
	<div class="container header-contact">
		<div id="content-html">
			<a target="_blank" href="tel:8115503100">Tel: 81 1550 3100</a> / <a target="_blank" href="https://wa.me/5218134024241?text=Hola.+Necesito+Una+Cotizaci%C3%B3n.">Whatsapp: 52 81 3402 4241</a> / <a target="_blank" href="mailto:ventas@losmontacargas.mx">Email: ventas@losmontacargas.mx</a>
		</div>
	</div>
</section>

<section id="container-section-blank"></section>
<section id="container-header-content">
	<div class="container">
		<div class="row">
			<div class="col-2 col-content col-logo">
				<a href="/">
					<img
						src={logo.src}
						alt="Logo de Montacargas"
						class="logo"
					/>
				</a>
			</div>
			<div
				class="col-9 d-flex align-items-center col-search"
				style="padding-left: 0px;"
			>
				<NavMenu />
			</div>
			<div class="col-1 nav-conteiner col-menu">
				<nav class="navbar navbar-light bg-light nav-bar-movil">
					<div class="container-fluid">
						<button
							class="btn btn-primary"
							type="button"
							data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasMenu"
							aria-controls="offcanvasMenu"
						>
							<i class="fa-solid fa-bars" style="color: #fff;"
							></i>
						</button>
					</div>
				</nav>

				<div
					class="offcanvas offcanvas-end"
					tabindex="-1"
					id="offcanvasMenu"
					aria-labelledby="offcanvasMenuLabel"
				>
					<div class="offcanvas-header">
						<button
							type="button"
							class="btn-close text-reset"
							data-bs-dismiss="offcanvas"
							aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/">Inicio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#productos">Productos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#queson">¿Qué son?</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tipos">Tipos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#empresa">Empresa</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#contacto">Contacto</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script is:inline>
	window.addEventListener("scroll", function () {
		var divUno = document.getElementById("contact");
		var divDos = document.getElementById("container-header-content");
		var divSpace = document.getElementById("container-section-blank");
		var rect = divUno.getBoundingClientRect();

		// Si el div con id "uno" está fuera de la vista (en el scroll hacia abajo)
		if (rect.bottom <= 0) {
			divDos.style.position = "fixed";
			divDos.style.top = "0";
			divDos.style.left = "0";
			divDos.style.right = "0";
			divSpace.style.height = "110px";
		} else {
			divDos.style.position = "relative";
			divDos.style.top = "0";
			divSpace.style.height = "0px";
		}
	});
</script>
